@import "tailwindcss";

/* Font utility classes */

/* Body / normal text */
.font-body {
  font-family: "Source Sans 3", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

.font-serif {
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
}
.font-sans-400 {
  font-family:  sans-serif !important;
  font-weight: 400 !important;
}

